{% extends "home/base.html" %}
{% load django_markdown %}
<!-- Main Content -->

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% block content %}

<div class="row">
	<div class="twelve columns" style="margin-top: 5%">
		<h4> Home </h4>
		<p>
		My name is Sarp Orgul and I'm a computer science student at the University of Washington.
		I am also currently training to become a private pilot.
		This is a website where I will post information about myself, the projects that I am working on, and other miscellaneous thoughts.
		</p>
		<p>You can find more information about me in <a href="/biography/"> my biography </a>
		and about my work experience in <a href="/resume/"> my resume </a>.
		</p>
	</div>
</div>

{% endblock %}

